{% from "to_do/task_macros.html" import render_task %}

{% macro render_accordion(task, level=0) %}
<div id="{{ task.random_id }}_taskDiv">
	<div class="accordion-item" style="height: 100%">
		<div class="accordion-header p-0 d-flex list-group-item list-group-item-action"
		     data-task-id="{{ task.task_id }}" data-parent-id="{{ task.random_id }}">
			<div class="p-2">
				<input class="form-check-input ms-2 me-1" type="checkbox"
				       data-task-id="{{ task.task_id }}" data-parent-id="{{ task.random_id }}"
				       {{ "checked" if task.status == 2 }}>
			</div>
			<button id="{{ task.random_id }}_accordionBtn" class="p-2 accordion-button" data-bs-toggle="collapse"
			        data-bs-target="#{{ task.random_id }}_collapse" aria-expanded="{{ task.expanded|default('false') }}"
			        aria-controls="{{ task.random_id }}_collapse" style="cursor: pointer; font-size: 1em"
			        data-task-id="{{ task.task_id }}" data-parent-id="{{ task.random_id }}">
				<label class="form-check-label {% if task.status == 2 %} text-decoration-line-through {% endif %}">{{
					task.title }}</label>
			</button>
			<div style="display: flex; align-items: center;">
				<span class="badge bg-primary rounded-pill me-2">{{ task.subtasks_count | default(0) }}</span>
			</div>
		</div>
		<div id="{{ task.random_id }}_collapse"
		     class="accordion-collapse collapse ms-2 {{ 'show' if task.expanded|default(false) }}"
		     aria-labelledby="heading_{{ task.random_id }}">
			<div class="list-group">
				{% for subtask in task.subtasks %}
				{% if subtask.type == 'accordion' %}
				{{ render_accordion(subtask, level + 1) }}
				{% else %}
				{{ render_task(subtask) }}
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endmacro %}
