{% macro render_task(task) %}
<div id="{{ task.random_id }}_taskDiv">
	<a href="#" class="list-group-item list-group-item-action"
	   data-task-id="{{ task.task_id }}" data-parent-id="{{ task.random_id }}">
		<input class="form-check-input me-1" type="checkbox"
		       data-task-id="{{ task.task_id }}" data-parent-id="{{ task.random_id }}"
		       {{ "checked" if task.status == 2 }}>
		<label class="form-check-label {% if task.status == 2 %} text-decoration-line-through {% endif %}">{{ task.title
			}}</label>
	</a>
</div>
{% endmacro %}
