{% if form.data %}
<form method="post" action="{{ url_for('update_task') }}">
    <!-- form.hidden_tag() -->
    <input type="hidden" name="task_id" value="{{ task.task_id }}">
    <div id="task-subtasks" class="list-group">
        <textarea class="form-control mb-2" rows="1" placeholder="Название"
                  data-task-id="{{ task.task_id }}" data-parent-id="{{ task.random_id }}"
                    name="title" value="{{ form.data.title }}">{{ form.data.title }}</textarea>
        {% if form.data.subtasks %}
        {% for subtask in form.data.subtasks %}
            <div class="input-group input-group-sm border-bottom">
                <div class="input-group-text border border-0">
                    <input class="form-check-input mt-0" type="checkbox"
                           data-task-id="{{ subtask.id }}" data-parent-id="{{ task.random_id }}"
                           {{ "checked" if subtask.status_id == 2 }}>
                </div>
                <input type="text" class="form-control border border-0 {% if subtask.status_id == 2 %} text-decoration-line-through {% endif %}"
                       value="{{ subtask.title }}">
                <button class="btn btn-outline-secondary border border-0" type="button"><i class="bi bi-x-circle"></i></button>
            </div>
        {% endfor %}
        {% endif %}
        <div class="input-group input-group-sm mb-2 py-1 border-bottom">
            <button class="btn btn-outline-secondary btn-sm border-0" type="button" id="button-add-subtask"
            data-task-id="{{ task.task_id }}" data-parent-id="{{ task.random_id }}"><i class="bi bi-plus-circle"></i></button>
            <input id="input-subtask-title" type="text" class="form-control border-0" placeholder="Добавить подзадачу" aria-label="">
        </div>
    </div>
    <div class="list-group my-2">
        {{ form.deadline(class="form-control rounded-0") }}
        <input id="task-repeat" type="number" class="form-control rounded-0" placeholder="Количество повторений">
        {{ form.priority() }}
    </div>
    <div class="list-group my-2">
        <input type="file" class="form-control " placeholder="Прикрепить файл">
    </div>
    <div class="list-group my-2">
        <textarea id="task-note" name="note" class="form-control mb-2" rows="4" placeholder="Заметка">{{ form.data.note }}</textarea>
    </div>

    <input type="submit" value="Сохранить изменения">
</form>
{% endif %}