<div class="accordion" id="{{ action_module.id }}_action">
    <h2>{{ action_module.name }}</h2>
    {% for step in action_module.steps %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{ step.id }}_collapse" aria-expanded="false"
                        aria-controls="{{ step.id }}_collapse">Этап {{ loop.index }}: {{ step.name }}
                </button>
            </h2>
            <div id="{{ step.id }}_collapse" class="accordion-collapse collapse">
                <div class="accordion-body my-2">
                    {% for action in step.actions %}
                        {% if action.type == 'timer' %}
                            {% with timer=action %}
                                {% include 'timer.html' %}
                            {% endwith %}
                        {% endif %}
                        {% if action.type == 'metronome' %}
                            {% with metronome=action %}
                                {% include 'metronome.html' %}
                            {% endwith %}
                        {% endif %}
                        {% if action.type == 'audio' %}
                            {% with audio=action %}
                                {% include 'audio.html' %}
                            {% endwith %}
                        {% endif %}
                        {% if action.type == 'text' %}
                            {% with text=action %}
                                {% include 'text.html' %}
                            {% endwith %}
                        {% endif %}
                        {% if action.type == 'carousel' %}
                            {% with carousel=action %}
                                {% include 'carousel.html' %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
