<div id="{{ audio.id }}_audioContainer" class="rounded border border-mb-1" data-audio-src="static/audio/{{ audio.info['url'] }}">
    <p id="{{ audio.id }}_audio_name" class="text-center">{{ audio.info['name'] }}</p>

    <div class="row align-items-center g-2">
        <!-- Кнопки воспроизведения и остановки -->
        <div class="col-auto">
            <div class="btn-group btn-group-sm" role="group">
                <button id="{{ audio.id }}_audio_start" class="btn btn-outline-dark startAudio"><i class="bi bi-play-fill"></i></button>
                <button id="{{ audio.id }}_audio_stop" class="btn btn-outline-dark stopAudio"><i class="bi bi-stop-fill"></i></button>
            </div>
        </div>

        <!-- Ползунок прогресса -->
        <div class="col">
            <input type="range" class="progress-bar w-100" id="{{ audio.id }}_audio_progress" value="0">
        </div>

        <!-- Регулятор громкости -->
        <div class="col-auto" style="width: 50px;">
            <input type="range" id="{{ audio.id }}_audio_volume" name="volume" min="0" max="1" step="0.1">
        </div>

        <!-- Кнопка закрытия -->
        <div class="col-auto">
            <div class="btn-group btn-group-sm" role="group">
                <button id="{{ audio.id }}_close" class="btn btn-outline-dark btn-sm closeAudio"><i class="bi bi-x-circle"></i></button>
            </div>
        </div>
    </div>
</div>

