<!-------message-template 1 ----------->
<div class="chat-message-{{ message.position }} pb-4">
	<!--Автроскрытие при узком экране d-none d-md-block (может быть sm, md, lg, xl)-->
	<div class="chat-avatar ta-c d-none d-xl-block">
		<img src="static/images/avatars/{{message.avatar}}" class="rounded-circle shadow-sm" alt="message.name" width="40" height="40" style="display: block; margin: 0 auto;">
		<div class="text-nowrap bg-body-secondary rounded ta-c ps-2 pe-2 shadow-sm">
			<strong>{{ message.name }}</strong>
		</div>
	</div>
	<div class="bg-light rounded py-1 px-3 m{{ message.position }}-3 ms-1 me-1 border border-1 shadow-sm chat-message-content">
		{% if message.image %}
			<img src="{{ url_for('static', filename='images/' + message.image) }}" alt="Chat Image" class="chat-image">
		{% endif %}
		<div class="chat-message-text">{{message.text}}</div><p class="text-sm-start my-1" style="font-size: 0.7em;">{{message.time}}</p>
		{% if message.position == 'l' %}
            <button class="btn play-audio-button">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
				  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
				</svg>
			</button>
            <div class="audio-progress" style="width: 0%; height: 1px; background-color: blue;"></div>
        {% endif %}
	</div>
</div>