<script src="static/js/audio.js"></script>
<script src="static/js/carousel.js"></script>
<script src="static/js/metronome.js"></script>
<script src="static/js/timer.js"></script>
<script src="static/js/memory.js"></script>
<script src="static/js/file_upload.js"></script>
<script src="static/js/action_module.js"></script>
<script src="static/js/chat_update.js"></script>
<script src="static/js/to_do.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/js/speech_recognition.js"></script>
<script src="static/js/audio_generate.js"></script>