<div id="{{timer.id}}_container" class="rounded border border-mb-1">
    <input type="text" id="{{timer.id}}_name" class="form-control form-control-sm" value="{{timer.info['name']}}">
    <div class="input-group mb-1">
        <input type="text" id="{{timer.id}}_hours" class="form-control text-center" value="{{timer.time[0]}}">
        <input type="text" id="{{timer.id}}_minutes" class="form-control text-center" value="{{timer.time[1]}}">
        <input type="text" id="{{timer.id}}_seconds" class="form-control text-center" value="{{timer.time[2]}}">
    </div>
    <button id="{{timer.id}}_close" class="btn btn-outline-dark btn-sm closeTimer me-5"><i class="bi bi-x-circle"></i></button>
    <div class="btn-group btn-group-sm" role="group">
        <button id="{{timer.id}}_start" class="btn btn-outline-dark startTimer"><i class="bi bi-play-fill"></i></button>
        <button id="{{timer.id}}_stop" class="btn btn-outline-dark stopTimer"><i class="bi bi-stop-fill"></i></button>
        <button id="{{timer.id}}_reset" class="btn btn-outline-dark resetTimer"><i class="bi bi-arrow-counterclockwise"></i></button>
    </div>
</div>
