<div id="{{timer.id}}_timerContainer" class="rounded border border-mb-1">
    <input type="text" id="{{timer.id}}_input" class="form-control form-control-sm" value="{{timer.info['name']}}">
    <div class="container-fluid">
    <div class="row align-items-center">
        <!-- Кнопки управления -->
        <div class="col-auto">
            <div class="btn-group btn-group-sm" role="group">
                <button id="{{timer.id}}_start" class="btn btn-outline-dark startTimer"><i class="bi bi-play-fill"></i></button>
                <button id="{{timer.id}}_stop" class="btn btn-outline-dark stopTimer"><i class="bi bi-stop-fill"></i></button>
                <button id="{{timer.id}}_reset" class="btn btn-outline-dark resetTimer"><i class="bi bi-arrow-counterclockwise"></i></button>
            </div>
        </div>

        <!-- Поля ввода времени -->
        <div class="col">
            <div class="input-group mb-1">
                <input type="text" id="{{timer.id}}_hours" class="form-control form-control-sm text-center" placeholder="00" value="{{timer.time[0]}}">
                <input type="text" id="{{timer.id}}_minutes" class="form-control form-control-sm text-center" placeholder="00" value="{{timer.time[1]}}">
                <input type="text" id="{{timer.id}}_seconds" class="form-control form-control-sm text-center" placeholder="00" value="{{timer.time[2]}}">
            </div>
        </div>

        <!-- Кнопка закрытия -->
        <div class="col-auto">
            <button id="{{timer.id}}_close" class="btn btn-outline-dark btn-sm closeTimer"><i class="bi bi-x-circle"></i></button>
        </div>
    </div>
</div>
</div>
