<div id="timer_container" class=" rounded border border-mb-1">
    <input type="text" id="timerName" class="form-control form-control-sm" value="Таймер">
    <div class="input-group mb-1">
        <input type="text" id="timerHours" class="form-control text-center" placeholder="ЧЧ" value="{{timer.hours}}">
        <input type="text" id="timerMinutes" class="form-control text-center" placeholder="{{timer.minutes}}" >
        <input type="text" id="timerSeconds" class="form-control text-center" placeholder="{{timer.seconds}}" >
    </div>
    <div class="btn-group btn-group-sm" role="group">
        <button id="startTimer" class="btn btn-outline-dark"><i class="bi bi-play-fill"></i></button>
        <button id="stop" class="btn btn-outline-dark"><i class="bi bi-stop-fill"></i></button>
        <button id="reset" class="btn btn-outline-dark"><i class="bi bi-arrow-counterclockwise"></i></button>
    </div>
</div>
